.container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.title {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.table {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}