.container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center ;
  row-gap: 8px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center ;
  row-gap: 8px;
}

.subtitle {
  text-align: center;
}